@model AspNetCoreWindowsAuthExample.ViewModels.UserInfoAdminEditViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>@Model.Title</h2></div>

            @if (Model.Message != null)
            {
                <p class="alert-danger text-center">@Model.Message</p>
            }

            <div class="panel-body">
                <form asp-action="">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="UserInformation.UserInformationId" />
                    <div class="form-group">
                        <label asp-for="UserInformation.LanId" class="control-label"></label>
                        <input asp-for="UserInformation.LanId" class="form-control" disabled="disabled" />
                        <span asp-validation-for="UserInformation.LanId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserInformation.FirstName" class="control-label"></label>
                        <input asp-for="UserInformation.FirstName" class="form-control" disabled="disabled" />
                        <span asp-validation-for="UserInformation.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserInformation.LastName" class="control-label"></label>
                        <input asp-for="UserInformation.LastName" class="form-control" disabled="disabled" />
                        <span asp-validation-for="UserInformation.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserInformation.Email" class="control-label"></label>
                        <input asp-for="UserInformation.Email" class="form-control" disabled="disabled" />
                        <span asp-validation-for="UserInformation.Email" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                &nbsp;
            </div>
        </div>
    </div>
</div>